<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form (ngSubmit)="onPutofdate(f)" #f="ngForm">
      <div class="form-group">
        <label for="link">
          link eingeben
        </label>
        <input type="text" id="link" class="form-control" name ="link" ngModel>
      </div>
      <div class="form-group">

        <label for="description">
          link eingeben
        </label>
        <input type="text" id="description" class="form-control" name="description" ngModel>
      </div>
      <button type="submit" class="btn btn-success">putofdaten</button>

    </form>
  </div>



</div>
